*{
    margin:0px;
    padding:0px;
}
.left{
    margin:52px;
    height: 60px;
    width: 60px;
    /* background-color:aquamarine; */
    background-image:url(face_logo.png);
    background-size:cover;
}