*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.nav_bar{
    background-color:#0f1111;
    color:white;
    height:60px;
    width:100%;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
}
.box_1{
    height: 50px;
    width:144px;
    background-image:url("kala_amazon_logo.jpg");
    background-size:100% 100%;
    padding:1px 8px 0 6px;
    margin:1px;
    padding:9px;
}
/* .hov{
    border:1.3px solid transparent;
} */
.hov:hover{
   border:1.8px solid white; 
}
.box_2{
    height:50px; 
    width:112px;
    padding:7px 0 0 0;
    margin:5px 2px 5px 0;
    display:flex;
    align-items: center;
}
.location_logo{
    width:15px;
    height:100%;
    color:white;
    padding:13px 0 0 0;
}
#top_p{
    font-size:12px;
    color:#cccccc;
    margin-left:5px;
}
#bottom_p{
    font-size:14px;
    font-weight: bold;
    color:#ffffff;
    margin-left:5px;
}
.search_bar{
    display:flex;  
    width:889px;
    height:45px;
    justify-content :space-evenly;
    /* background-color: #131921; */
    border-radius:5px;
    align-items:center;
    /* padding: 10px 4px 10px 3px; */
    
    border-radius:6px;
    /* border:2px solid transparent; */
}
.search_bar:hover{
    border:6px solid orange;
}

#nav_input{
    width:100%;
    height:40px;
    /* padding: */
    font-size:1rem;
    border:none;

}
.search_select{
    background: #f3f3f3;
    width:50px;
    height:40px;
    text-align:center;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    border:none;
    
}
#search_icon{
    width:45px;
    display: flex;
    font-size:1.3rem;
    justify-content: center;
    align-items:center;
    background-color: #febd68;
    height:40px;
    color:black;
    border: none;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}
span{
    font-size:0.95rem;
}
.bottom_p2{
    font-size:1rem;
    font-weight:700;
}
.box_5{
    height:40px;
    width:83px;
    display:flex;
}
.box_5_icon{
    height:40px;
    width:30px;
    font-size:25px;
    padding-top:8px;
    padding-left: 4px;
}
.last_p{
    text-align: center;
    display:flex;
    align-items: center;
    padding-left:6px;
    font-size:1rem;
    font-weight:700;
    padding-top:12px;
}
.panel{
    height:40px;
    width:100%;
    background-color:#222f3d;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    
}
/* .panel_3dot{
} */
.colo_white{
    color:white;
}
.panel_ops p{
    display:inline;
    padding-left:18px;
}
/* .last_panel_a{
} */
.panel_ops{
    width:65%;
    font-size:14px;
}
.last_panel_a{
    width:25%;
    text-align: center;
    padding-left: 40px;
    font-size:1.1rem;
    font-weight:700;
}
.hero_section{
    background-image: url(amazon_hero.jpg);
    height:395px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* margin:0 40px 0 40px; */
    background-color: rgb(240, 238, 238);

}
.hero_massege{
    background-color:white;
    color:black;
    height:40px;
    font-size:0.95rem;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    width:70%;
    margin-bottom: 30px;
}
.hero_massege a{
    color:#075a69;
    font-size:1rem;
    font-weight:520;
}
.container_of_all{
    /* background-color: rgb(215, 212, 212); */
    background-color: #d9d8d8;
    /* height: 2500px; */
}
.row_box_1st{
    display:flex;
    justify-content: space-evenly;

    padding-top:20px;
}
.box{
    height:450px;
    width:23%;
    /* padding:20px; */
    /* border:2px solid black; */
    background-color:rgb(252, 251, 251);
    padding:20px 0px 20px;
}
.box_img{
    height:310px;
    background-size:cover;

    margin-top:20px ;
    margin-bottom:20px;
}
.box_1st_content{
    /* margin-left:1.2rem;
    margin-right:1.2rem; */
    margin:0 20px 0 20px;    
    height:auto;
    width:auto;
    
}
.box_1st_content a{
    text-decoration:none;
    font-size:1.1em;
}
.foot_top{
    margin-top:20px;
    height:50px;
    background-color:#37475a;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size:1rem;
    color:white;
}
.foot_ul{
    background-color: #222f3d;
    color:white;
    display: flex;
    justify-content: space-evenly;
    padding-bottom:40px;
    
}
.foot_ul ul a{   
    color:white;
    font-size:1.1rem;
    text-decoration:none;
    color:#dddddd;
}
.foot_ul ul{
    text-decoration:none;
    margin-top:40px;
}
.foot_ul ul li{
    margin-top:7px;
}
.foot_amazon_logo{
    height:70px;
    background-color: #222f3d;
    border-top:0.01rem solid rgb(224, 224, 224);
    display: flex;
    justify-content: center;
    align-items:center;
    
}
.logo{
    height:50px;
    width:100px;
    background-image: url("images.png");
    background-size:cover;
}
.foot_last_div{
    background-color: #131A22;
    text-align:center;
    color:#DDD;
    padding-top:15px;
    padding-bottom:20px;
}
.foot_last_div a {
    color:#DDD;
    text-decoration:none;
    margin-left:15px;
    margin-bottom: 5px;
    font-size: 1.2rem;
}
.foot_last_div p{
    margin-top:5px;
    font-size:1.1rem;
}
a:hover{
    text-decoration:underline;
}