*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
h1{
    background-color:#081b31;
    color: white;
    height: 5rem;
    line-height:5rem;
}
.choice{
    height: 180px;
    width: 180px;
    /* background-color: aqua; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.choice img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.choice:hover{
    opacity:0.95 ;
    
}
.choice img:hover{
    border: 0.4rem solid black;
}
.choices{
    display: flex;
    justify-content: center;
    gap: 10rem;
    margin-top: 4rem;
    margin-bottom: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    gap: 13rem;
    /* background-color: aqua; */
    margin-top: 7.8rem;
    margin-bottom: 10rem;
}
.score p{
    font-size:3rem;
    font-weight: 600;
}
#msg{
    font-size: 2.5rem;
    color: white;
    background-color: #081b31;
    display: inline;
    padding: 1.2rem;
    border-radius: 15px;
    /* margin-top: 5rem; */
}