*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color:#0B4F6C ;
}
.container{
    background-color:#FBFBFF;
    color:#040F16;
    padding:2rem;
    border-radius: 1.5rem;
    min-height: 45vh;
    min-width: 40vh;
    /* font-size: ; */
    /* display: flex; */
}
.container p{
    font-size: 1.2rem;
}
form{
    margin:1rem 0 1rem 0;
   
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:1.75rem;
    margin-bottom:2rem;
    font-size: 1.3rem;
}
form select,input,button{
    width: 100%;
    border:none; 
}
form input{
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    font-size: 1rem;
    height:3rem;
    padding: 0.5rem;
}
.flag img{
    height:2.75rem;
    max-width:3rem;
}
.flag{
    display: flex;
    justify-content: center;
    border: 1px solid lightgrey;
    border-radius:.5rem;
    padding-left:0.2rem;
    align-items: center;
    border-radius: 0.5 solid lightgrey;
    min-width:6.5rem;
    height:3rem;
}
.flag select{
    font-size:1rem;
    height: 80%;  
}
.msg{
    /* font-size: 1.3rem; */
    margin: .90rem 0 1.85rem 0;
    text-align: center;
    color: #021d29;
    /* font-size: 100rem; */
}
.msg p{
    /* font-weight:300; */
    font-size: 1.4rem;
}
#special-btn{
    height:3.2rem;
    background-color: #040F16;
    color:#FBFBFF;
    font-size: 1.1rem;
    border-radius: 0.75rem;
    font-weight: 700;
    cursor: pointer;
}