*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    /* font-family:; */
}
.outer{
    height: 1000px;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#eaf4fe;
}
.container{
    height:550px;
    width:920px;
    border-radius: 9%;
    background-color: rgb(252, 251, 251);
    display: flex;
}
.right{
    width:50%;
    height:100%;
    background-color:#1A365D;
    /* border-radius: 10%; */
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}
.left{
    height:100%;
    width:55%;
    font-size:large;
    text-align:center;
    padding-top:69px;
    /* padding-top:40px; */
}
.left h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.div_a{
    height:50px;
    width:50px;
    border:1px solid black;
    margin-left:10px;
    border-radius:10%;
}
.container_of_a{
    display:flex;
    justify-content: center;
    margin-top:12px;
    margin-bottom:18px;
}
.mid_a{
    text-decoration: none;
    color:rgb(94, 93, 93);
}
 .input_pass{
    margin-top:20px;
    height:45px;
    background-color:rgb(231, 231, 231) ;
    border:none;
    width:300px;
    padding-left:15px;
}
.div_a{
    color:rgb(215, 31, 31);
    display: flex;
    justify-content:center;
    align-items:center;
}
.div_a i{
    color:black;
}
.div_a:hover{
    background-color:rgb(236, 235, 235);
}
.bottom_pass{
    margin-bottom:25px;
}
.button{
    margin-top:20px;
    height:45px;
    width:140px;
    background-color:#4A5568;
    color: #FFFFFF;
    font-size:1rem;
    font-weight:550;
    border:2px solid rgb(105, 103, 103);
    border-radius:3%;
}
a:hover{
    text-decoration:underline;
}
.right{
    padding:20px;

} 
.inner_content{
    height:100%;
    width:100%;
    text-align:center;
    padding-top:170px;
}
.h1_in{
    color: white;
    font-size:larger;
    padding-bottom:18px;
}
.inner_content{
    color:aliceblue;
}
.button_right{
    height:42px;
    width:120px;
    margin-top:30px;
    background-color:#0e305e;
    color:#ffffff;
    font-weight:bolde;
    border:1.5px solid #8a909a;
    border-radius:6%;
}
.button:hover{
    background-color: #052756;
    border:1.5px solid white;
}

