*{
    margin:0px;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    font-family: Figtree-Regular, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}
header{
    height:80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}
.nav_logo{
    height:80px;
    /* min-margin-left: 30px; */
    width:53px;
    display: flex;
    align-items: center;
    margin-left:65px;
}
.nav_logo img{
    width:53px;
    
    height:36px;
}


nav{
    margin-left:0%;
    /* margin-right:1%; */
    width:580px;
    min-width:300px;;
    display: flex;
    justify-content: space-between;
    font-weight:580;
    align-items: center;
}



.studio_a a sup{
    font-size:10px;
    margin-left:5px;
    color:rgb(199, 8, 8);
    font-weight:bold;
}

.search_div{
    width:600PX;
    min-width: 210px;;
    /* padding-left:20px; */
    display: flex;
    align-items: center;
    background-color: rgb(244, 242, 242);
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;

}

.search_div i{
    font-size:19px;
    font-weight:700;
    margin:0 10px;
    color:rgb(97, 97, 97);

}
.search_div input{
    width:600px;
    min-width: 200px;
    height:40px;
    padding-left:10px;
    background-color:rgb(244, 242, 242);
    font-size:0.9rem;
    border: none;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.container_of_3{
    /* background-color: aquamarine; */
    display: flex;
    height:100%;
    min-width: 100px;;
    /* justify-content: center; */
    align-items: center;
    padding-right:50px;
    padding-top:20px;
}
span{
    display:block;
}
.span_a{
    width:65px;
    height:100%;
    text-align: center;
    font-weight: 630;;
    font-size: smaller;
    /* margin-left:17px; */
    /* display:flex; */
    /* justify-content: center; */
    /* align-items: center; */

}
.logo{
    margin-right:5px;
    color: rgb(81, 80, 80);
    font-size:1rem;
}
.nav_ch{
    width:85px;
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom:3px solid transparent;
}
.studio_a{
    padding-left:20px;
}
.nav_ch:hover{
    border-bottom:3px solid #f54e77;
}
.head_bottom{
    height:10px;
    background-color: rgb(236, 235, 235);
}
/* .hero_section{
    /* padding:10px 0; */
/* }  */
.hero_img{
    width:100%;
}
.shop_option{
    margin:50px 0 10px 30px;
}
.sale_products{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}
.catagory_products{
    margin:50px 0 10px 30px;
}
.products_2{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}
.footer_area{
    height:1000px;
    margin:0 200px;
    padding-top:50px;
    background-color: rgb(210, 211, 211);
}
.foot_left{
    
}