*{
    margin:0px;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    font-family: Figtree-Regular, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}
header{
    height:80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(216, 240, 240);
}
.nav_logo{
    height:80px;
    width:53px;
    display: flex;
    align-items: center;
    margin-left:65px;
}
.nav_logo img{
    width:53px;
    height:36px;
}
.men_a{
    width:65px;
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.men_a a{
    padding:0 19px  ;
}
nav{
    margin-left:3.5%;
    width:566px;
    display: flex;

    align-items: center;
}
.women_a{
    width:91px;
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 17px;
}
.kids_a{
    padding:0 17px;
}
.home_a{
    padding: 0 17px;;
}
.beauty_a{
    padding: 0 17px;;
}
.genz_a{
    padding: 0 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.studio_a{
    padding: 0 17px;
}
.studio_a a sup{
    font-size:11px;
    margin-left:5px;
    color:rgb(173, 105, 105);
    font-weight:bold;
}
.search_div{
    width:600PX;
    padding-left:20px;
    display: flex;
    align-items: center;
}
.search_div i{
    font-size:19px;
    font-weight:700;
    margin:0 10px;
    color:rgb(114, 113, 113)
}
.search_div input{
    width:600px;
    height:40px;
    padding-left:30px;
}
.container_of_3{
    /* background-color: aquamarine; */
    display: flex;
    height:100%;
    /* justify-content: center; */
    align-items: center;
    padding-right:50px;
}

span{
    display:block;
    
}
.span_a{
    margin-left:17px;
}